footer {
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #003366; /* Bleu foncé */
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}


